@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(65, 89, 29);
    color: whitesmoke;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 4vh;
    padding: 0 2vw;
    font-family: 'Shantell Sans', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    position: relative;
}

.line{
    background-color: rgb(28, 203, 28);
    width: 0vh;
    height: 0.3vh;
    position: absolute;
    left: 0;
    transition: width 1s ease-in-out;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,13vh);
    grid-template-rows: repeat(3,13vh);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 0.1vw solid black;
    font-size: 8vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(237, 242, 230);
}

.infoBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0 5vh;
    padding: 2vh 3vh;
    font-size: 2vh;
    font-family: 'Quicksand', sans-serif;
}

#reset{
    cursor: pointer;
    margin: 2vh 2vh;
    padding: 0.4vw 1vw;
    background-color: rgb(237, 242, 230);
    border-radius: 0.4vw;
    font-size: 1.5vh;
    font-family: 'Shantell Sans', cursive;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

@media screen and (max-width:950px){
    .gameContainer{
        flex-flow: column;
    }
    .infoBox{
        margin-top: 3vh;
    }
}