@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(65, 89, 29);
    color: whitesmoke;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 2vw;
    padding: 0 2vw;
    font-family: 'Shantell Sans', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 0.1vw solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(189, 231, 189);
}

