@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(65, 89, 29);
    color: whitesmoke;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 4vh;
    padding: 0 2vw;
    font-family: 'Shantell Sans', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 0.1vw solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(237, 242, 230);
}

.infoBox{
    display: flex;
    flex-flow: row;
    padding: 2vw 2vw ;
    font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
}

#reset{
    cursor: pointer;
    margin: 0 2vh;
    padding: 0.4vw 1vw;
    background-color: rgb(237, 242, 230);
    border-radius: 0.4vw;
    font-family: 'Shantell Sans', cursive;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}